
<% if(!hasView('makePost')) { %>
	<a href="javascript:;" id="make-root-post-button" 
		class="make-root-post pure-button pure-button-primary">
		New Post
	</a>
<% } %>


<div id="make-root-post" class="make-post"></div>

<ul class="posts">
	<% posts.each(function(post) { %>
		<li class="post">

			<video src="<%- post.get('data').video %>" autoplay="autoplay" loop />
			<div class="post-title">
				<a href="#post/<%- post.get('key') %>">
					<%- post.get('data').text %>
				</a>
			</div>

		</li>

	<% }); %>
</ul>
